<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surreal Studio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" href="/static/dp_user/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/dp_user/css/layout.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/dp_user/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/dp_user/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/dp_user/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/dp_user/images/apple-touch-icon-114x114.png">

    <!-- Google Web Fonts -->
{#    <link href="http://fonts.useso.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">#}

{#    <script type="text/javascript" src="/static/js/modernizr-2.6.2.html"></script>#}


</head>

<body>

<div class="container mar-top">

    <div class="eight columns">
        <a href="dp/index">
            <div class="serviceItem darkslider">
                <div class="serviceInfoWrap">
                    <div class="serviceInfo">
                        <div class="serviceInfoFront"></div>
                        <div class="serviceInfoBack text-color">
                            <h3><span><strong>画友</strong></span><br/>绘你&nbsp&nbsp&nbsp&nbsp所想</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="eight columns">
        <a href="dp/index">
            <div class="serviceItem lightslider">
                <div class="serviceInfoWrap">
                    <div class="serviceInfo">
                        <div class="serviceInfoFront"></div>
                        <div class="serviceInfoBack text-color2">
                            <h3><span><strong>摄影</strong></span><br/>拍我&nbsp&nbsp&nbsp&nbsp所爱</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

</body>
</html>
